body {
    color: blue;
    text-align: center;

}

.greenButton{
    position: absolute;
    top: 50vh;              
    left: 50%;              
    transform: translate(-50%, -50%); 

    color: white;
    background-color: green;
    padding: 12px 22px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;

}
