body {
    color: blue;
    text-align: center;

}

.greenButton{
    position: absolute;
    top: 50vh;              
    left: 50%;              
    transform: translate(-50%, -50%); 

    color: white;
    background-color: green;
    padding: 12px 22px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;

}

.button{
    position: relative;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes move {
    0%{
        transform: rotateZ(0deg);
        transform: translateY(300px)

    }
    25%{
        transform: rotateZ(0deg);
        transform: translateX(200px);
    }
    50%{
        transform: rotateZ(20deg);
        transform: translateY(400px);
        transform: translateX(500px)
    }
    75%{
        transform: rotateZ(-20deg);
    }

    100%{
        transform: rotateZ(0deg);
        transform: translateY(-300px);
        transform: translateX(-400px);
    }
}
