body {
    color: blue;
    text-align: center;

}

.greenButton {
    position: absolute;
    color: white;
    background-color: rgb(48, 180, 48);
    padding: 12px 22px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;

    animation: move 10s linear infinite;
}

@keyframes move {
    0%   { top: 10%; left: 10%; }
  5%   { top: 25%; left: 70%; }
  10%  { top: 50%; left: 85%; }
  15%  { top: 80%; left: 60%; }
  20%  { top: 90%; left: 20%; }
  25%  { top: 70%; left: 5%; }
  30%  { top: 40%; left: 15%; }
  35%  { top: 20%; left: 40%; }
  40%  { top: 10%; left: 75%; }
  45%  { top: 30%; left: 90%; }
  50%  { top: 60%; left: 80%; }
  55%  { top: 85%; left: 45%; }
  60%  { top: 75%; left: 10%; }
  65%  { top: 55%; left: 5%; }
  70%  { top: 35%; left: 25%; }
  75%  { top: 45%; left: 60%; }
  80%  { top: 65%; left: 90%; }
  85%  { top: 55%; left: 60%; }
  90%  { top: 30%; left: 20%; }
  95%  { top: 15%; left: 40%; }
  100% { top: 10%; left: 10%; }
}
